:root {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

::before,
*::after {
    box-sizing: border-box;
}


@media (min-width: 800px){
    :root {
        font-size: 0.875rem;
    }
}

@media (min-width: 1200px){
    :root {
        font-size: 1rem;
    }
}



.mobile-bar{
    display: flex;
    background: #0F1E25;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

p{
    color: #B5B5B5;
    
}

.time{
    width: 100%;
}


.icons-right{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.icons{
    display: flex;
    align-items: center;
    gap: 0.3em;
}



.name-bar{
    display: flex;
    background-color: #232D36;
    height: 3.5em;
    padding: 1em 1.5em;
    gap: 1em;
    align-items: center;
}


.icons-left{
    width: 100%;

}

.icons-name-bar{
    display: flex;
    align-items: center;
    gap: 1em;
}

.img-arrow{
    height: 1.5em;
    width: 1.5em;
    
    border: 10px;
}

.img-profile{
    border-radius: 2em;
    height: 3em;
    width: 3em;
}

.chat-name{
    font-size: 1.5rem;
}

.dots{
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #bbb;
    border-radius: 50%;
  }


.body-chat{
    display: flex;
    height: calc(100vh - 11.5em);
    background-image: url("images/2a7d5fbcba065e32100a4c0516b83dac.jpeg");
    align-items: end;
    padding: 0 1.5em 4em;
    
    
}

.footer-chat{
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.message-box{
    display: flex;
    border-radius: 20px;
    background: #2D383E; 
    height: 3rem;
    width: 100%;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.message-box > img{
    height: 1.6em;
    
}

.message-box:first-child{
    padding: 0 1rem;
}

.input-text{
    width: 100%;
    border: 1px;
    background: #2D383E; 
    border: none;
}

.input-text:focus{
    outline: none;
}

