:root {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

::before,
*::after {
    box-sizing: border-box;
}


@media (min-width: 800px){
    :root {
        font-size: 0.875rem;
    }
}

@media (min-width: 1200px){
    :root {
        font-size: 1rem;
    }
}



.mobile-bar{
    display: flex;
    background: #0F1E25;
    width: 100%;
    height: 2em;
    align-items: center;
    justify-content: space-between;
}

p{
    color: #B5B5B5;
    
}

.time{
    margin-left: 2em;
    width: 100%;
}


.icons{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 0.3em;
}

.signal{
    margin: 0 1em;
}


.name-bar{
    height: 4.5em;
    background-color: #232D36;

}

.body-chat{
    display: flex;
    height: calc(100vh - 6.5em);
    background-image: url("images/2a7d5fbcba065e32100a4c0516b83dac.jpeg");
    
}

